<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/common}">

<section layout:fragment="content">
	<div class="col-lg-8 offset-lg-2 text-center">
		<h1>Spring Boot with Thymeleaf and</h1>
		<h1>Laravel Mix</h1>
		<p style="text-align: center">
			<button class="mt-2 btn btn-primary" autofocus>+ 新しいタスクを追加</button>
		</p>
	</div>
	<div class="row">
		<div class="col-lg-6 offset-lg-3">
			<iframe
				src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=Asia%2FTokyo&src=a291bm9zdTE3NzEwMzZAZ21haWwuY29t&src=ZmFtaWx5MDI5Njg4MjMyMDA0Nzk1MTQ4MjBAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&color=%23039BE5&color=%23616161&color=%2333B679"
				style="border: solid 1px #777" width="800" height="600"
				frameborder="0" scrolling="no"></iframe>
		</div>
		<div th:if="!${task.size()}">
			<h4 style="text-align: center;">
				タスクはありません<i class="fas fa-umbrella-beach"></i>
			</h4>
		</div>
	</div>
	<hr />

</section>

<section layout:fragment="js">
	<script>
  $(function() {
    $("button").on("click", function() {
      $("p").slideToggle();
    });
  });
  </script>
</section>